# Common
.git
.github
.gitignore
README.md
SPECS.md
.env

# Frontend
frontend/node_modules
frontend/.next
frontend/out
frontend/.cache

# Backend
backend/.venv
backend/__pycache__
backend/**/__pycache__
backend/.pytest_cache
backend/.coverage

# CMS
cms/node_modules
cms/.cache
cms/build
